name: CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  workflow_dispatch:

jobs:
  
  lint:
    runs-on: ubuntu-latest
  
    steps:
      - uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup-project
        with:
          jwt_secret: ${{ secrets.JWT_SECRET }}

      - name: Prettier
        run: make format

      # CI for ESLint will pass until we get rid of errors
      - name: ESLint
        run: make lint
        continue-on-error: true

  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup-project
        with:
          jwt_secret: ${{ secrets.JWT_SECRET }}

      - name: Build
        run: make build

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup-project
        with:
          jwt_secret: ${{ secrets.JWT_SECRET }}

      - name: Build
        run: make test